{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block meta %}
  {% endblock meta %}
</head>

<body style="background-image: url(https://external-preview.redd.it/8owpJxBClBtEc5_k7hVKvt-FVHRnQ7x0Bu_5n8D42BI.jpg?auto=webp&s=4ff07edbc903a0d0f39cda2fd6a47e71159003d2);">
  {% block content %}
  {% endblock content %}
</body>

</html>